{% extends "base.html" %}

{% block title %}
Africa Nerd: Tic Toe Game App
{% endblock %}


{% block content %}

<div class="jumbotron">
      <div class="container">
        <h1>Game Player Lounge</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'player_home' %}" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

{% endblock %}